.msg {
	height:28px
}
fieldset {
	border-radius:7px
}
legend {
	padding-left:.5em;
	padding-right:.5em
}
p {
	margin-top:16px;
	margin-bottom:16px
}
.navbar {
	margin-bottom:0px
}
.navbar-fixed-top .navbar-header {
	height:42px
}
.navbar-brand {
	padding-left:0px
}
table.sortable th {
	cursor:pointer
}

dd {
	margin-left:1em;
}


label {
	display:inline;
	font-weight:normal
}
.textAlign-center {
	text-align:center
}
a {
	text-decoration:none
}
a:hover {
	text-decoration:underline
}
a.btn:hover {
	text-decoration:underline
}
td.monospace {
	font-family:"Courier New", Courier, monospace
}
td.pre { /* http://stackoverflow.com/questions/219219/how-to-change-a-span-to-look-like-a-pre-with-css */
	display: block;
	unicode-bidi: embed;
	font-family: monospace;
	white-space: pre-wrap;
	font-size:16px
}
.progress {
	margin-bottom:0px
}
.container {
	padding-left:0px; /* 5/15/2014 I did this for the progress bar. */
	padding-right:0px
}
.msg {
	height:28px;
	padding-left:.5em
}

.navbar-nav.navbar-right:last-child {
	margin-right:0px /* 5/15/2014 was -15px */
}
td.time { /* 5/16/2014 */
	text-align:right;
	font-family:"Courier New", Courier, monospace
}
th.time { /* 5/16/2014 */
	text-align:right;
}
blockquote {
	font-size:20px;
}
body {
	margin-bottom:20em;
}
.cursorHelp {
	cursor:help
}
.cursorPointer {
	cursor:pointer;
}
